<nav class="navbar navbar-expand-lg navbar-light bg-light color-nav">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="inicio" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="contactos" href="#">Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="galeria" href="#">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="servicios" href="#">Servicios</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>