<section class="container-fluid">
    <div class="row align-items-start elemento">
        <div class="col-md-3 justify-content-around my-2 offset-1">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/card-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hoteles</h5>
                    <p class="card-text">Encontrá las mejores ofertas y promociones con reserva flexible.</p>
                    <a href="#" class="btn btn-primary">Click Aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 justify-content-around my-2 offset-1">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/card-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paquetes Turisticos</h5>
                    <p class="card-text">Selecciona el paquete de las vacaciones que tanto esperaste.</p>
                    <a href="#" class="btn btn-primary">Click Aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 justify-content-around my-2 offset-1">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/card-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Promociones 2021</h5>
                    <p class="card-text">Aprovechá los descuentos y ofertas para disfrutar tus vacaciones.</p>
                    <a href="#" class="btn btn-primary">Click Aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 justify-content-around my-2 offset-1">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/card-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Seguro de Viaje</h5>
                    <p class="card-text">Comprá tu asistencia al viajero y Disfrutá más con tu seguro de viaje.</p>
                    <a href="#" class="btn btn-primary">Click Aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 justify-content-around my-2 offset-1">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/card-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Reserva tu Paquete</h5>
                    <p class="card-text">Reserva tu paquete y comprá con descuentos hasta mitad de precio.</p>
                    <a href="#" class="btn btn-primary">Click Aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 justify-content-around my-2 offset-1">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/card-8.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alquiler de Autos</h5>
                    <p class="card-text">Alquilá un auto y recorré mucho más en tu viaje.</p>
                    <a href="#" class="btn btn-primary">Click Aquí</a>
                </div>
            </div>
        </div>
    </div>
</section>
