.card{
margin-top: 20%!important;
-moz-box-shadow: 11px -3px 17px #000000;
-webkit-box-shadow: 11px -3px 17px #000000;
box-shadow: 11px -3px 17px #000000;
}
.btn-primary{
    background-color: rgb(30, 214, 101)!important;
    border-color: rgb(30, 214, 101)!important;
}
