<section class="container-fluid bg-light">
  <div class="row justify-content-around">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-8 offset-2">
          <div id="carouselExampleDark" class="carousel carousel-dark slide p-5 my-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="5000">
                <img src="assets/img/arch-triumph-night-paris-france.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Viajá por Europa</h5>
                  <p>Volvé al pasado y descubrí las ciudades que hicieron historia.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="assets/img/modetn-city-luxury-center-dubai-united-arab-emirates.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Dubái te va a encantar</h5>
                  <p> Dubái es el principal destino turístico del mundo árabe.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="assets/img/beautiful-shot-moreno-glacier-santa-cruz-argentina.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block ">
                  <h5>Conocé El Calafate</h5>
                  <p>El Calafate atrae a excursionistas y escaladores seducidos por el impresionante glaciar Perito Moreno.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="assets/img/young-family-with-little-daugher-vacation-by-ocean.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Paquetes en Familia 2021</h5>
                  <p>Elegí cualquiera de nuestros paquetes turísticos en familia.</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img src="assets/img/aerial-view-waikiki-wall-diamond-head-honolulu-usa.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Visita Honolulú</h5>
                  <p>Honolulú es famosa por sus magníficas playas, sus paisajes, sus flores exóticas, su fauna y sus picos volcánicos.</p>
                </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                  <img src="assets/img/historic-ancient-building-seaside-san-sebastian-resort-town-spain.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Paquete San Sebastian.</h5>
                    <p>Visita San Sebastian y recibe nuestro descuento del 50%.</p>
                  </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
  </div>
  </div>
  </div>
</section>
