<div class="container-fluid">
    <div class="row col-md-1 elemento p-4 offset-2">
        <div class="list-group justify-content-between my-4">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true"></a>
            <a href="https://www.facebook.com/" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.twitter.com/" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.instagram.com/" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-instagram-square"></i></a>
            <a href="https://www.gmail.com/" target="_blank" class="list-group-item list-group-item-action"><i class="fas fa-envelope-square"></i></a>
        </div>
    </div>
</div>