.container-fluid{
    height: 400px;
    background-color: #F6F2D4;
}
.list-group{
    margin-top: 20%!important;
    height: 300px;
}
a{
    background-color: #F6F2D4!important;
}
.list-group-item{
    border:0px!important;
}
.list-group-item.active{
    color: #000!important;

}
h5{
    margin-left: 30px!important;
}
i{
    font-size: 2em;
}