
.contained-fluid{
    height:900px!important;
}
.container{
    height: 100%!important;
}
.elemento{
    margin-top: 100px!important;
}
.card{
-moz-box-shadow: 9px 7px 22px #000000;
-webkit-box-shadow: 9px 7px 22px #000000;
box-shadow: 9px 7px 22px #000000;
}
.card-img{
    height: 700px!important;
}
h5{
    margin-top:40vh;;
}
.card-title{
    text-align: center;
    font-size: 3em;
    color: #DA0037!important;
}
.card-text{
    font-size: 2.2vh;
    text-align: center;   
}
