<section class="contained-fluid bg-light">
    <div class="row justify-content-around ancho">
        <div class="col-md-6 espacio-hero elemento my-md-3">
          <div class="card bg-dark text-white">
              <img src="assets/img/logo-hero.jpg" class="card-img " alt="logo-hero">
              <div class="card-img-overlay">
                <h5 class="card-title">Tu Destino</h5>
                <p class="card-text">¡Te damos la bienvenida! Encontrá el mejor alojamiento para vos!.</p>
              </div>
          </div>
      </div>
    </div>
</section>
