section{
    height: 600px;
}
.container{
    height: 600px!important;
}
form{
    -moz-box-shadow: -13px 4px 19px #080708;
-webkit-box-shadow: -13px 4px 19px #080708;
box-shadow: -13px 4px 19px #080708;
}
.color{
    background-color: rgb(30, 214, 101)!important;
}