<section class="container-fluid bg-light">
  <div class="justify-content-end">
    <div class="container bg-light">
      <div class="row align-items-star">
        <div class="col">
          <form class="row g-3 p-5 my-5">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Nombres</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Nombres">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apellidos">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">Ciudad</label>
              <input type="text" class="form-control" id="Ciudad">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label">Provincia</label>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>San Juan</option>
                <option>Cordóba</option>
                <option>San Luis</option>
                <option>Buenos Aires</option>
                <option>Mendoza</option>
              </select>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Acepto Términos y Condiciones
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary color border">Enviar</button>
            </div>
          </form>
        </div>
  </div>
  </div>
  </div>
</section>
